@import "shared/styles/vars";
@import "shared/styles/app.global";

.link {
  cursor: pointer;

  margin-right: 40px;

  &:hover {
    .arrow {
      color: $gold;
    }
  }

  text-transform: uppercase;
  color: $text;

  p {
    margin: 2px 0 0 0;
    line-height: 18px;
  }
}

.selected_box {
  border-radius: 3px;
  padding: 4px 8px;
}

.selected {
  @extend .gold;

  color: $element;

  &:hover {
    .arrow {
      color: $element; // Override old effect.
    }
  }
}
