@import "vars";
@import "sizing";

body {
  margin: 0;
  font-family: 'Bahnschrift Regular', sans-serif;
  color: $text;

  background-color: $background;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#__next {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('/BAHNSCHRIFT 1.woff') format('woff');
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1 {
  font-size: 24px;
  @include sm {
    font-size: 48px;
  }
}

h2 {
  font-size: 18px;
  @include sm {
    font-size: 24px;
  }
}

p {
  font-size: 14px;
  @include sm {
    font-size: 18px;
  }
}
