@import "vars";

.element {
  background-color: $element;
  box-shadow: -4px -4px 16px rgba(13, 23, 56, 0.25), 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.gold {
  background-color: $gold;
  box-shadow: -4px -4px 16px rgba(223, 203, 99, 0.15), 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.sub_text {
  font-size: 14px;
}

.sub_colour {
  color: $dark-text;
}
