@import "shared/styles/app.global";
@import "shared/styles/sizing";

.about_hero {
  margin-top: 20vh;
  margin-bottom: 15vh;

  h2, p {
    margin: 0;
  }

  .description {
    @extend .sub_colour;
    margin: 5px 0 15px 5px;
    @include md {
      margin: 0 5px;
    }
  }
}

.who_am_i {
  @include md {
    margin-top: -5px;
    margin-bottom: 0;
  }
}

.what_ive_done {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  @include md {
    margin-top: -5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  p {
    @extend .sub_text;
  }
}

.what_i_do {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .description {
    @extend .sub_text;
  }
}
