@import "shared/styles/vars";
@import "shared/styles/sizing";

.info_section {
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: auto auto;

  @include md {
    grid-template-columns: 2fr 2fr 6fr;
    grid-template-rows: auto;
  }

  margin: 20px 0 40px;

  .info_title {
    grid-column: 1 / span 1;

    display: flex;

    height: fit-content;

    p {
      display: flex;
      margin: 0;
    }

    .dash {
      height: auto;
      margin: 0 0 6px 6px;
      width: 100%;
      max-width: 30vw;

      border-bottom: 2px solid $text;
    }
  }

  .info_content {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    margin: 20px 0;

    @include md {
      margin: 0;
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
    }
  }
}

.dollar {
  margin-right: 2px;
}

.highlight {
  color: $gold;
}
